.Carrito{
    height: 100%;
    width: 100%;
    padding: 2rem;
}

.Carrito_container{
    background-color: #FFFFFF;
    padding: 10px;
    width: 95%;
    height: auto;
}

.Carrito_container h3{
    text-align:right;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:black;
    border-bottom: .2rem solid rgba(0,0,0,.1);
}

.Carrito_container .tex_s{
    text-align:right;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:black;
    border-top: .2rem solid rgba(0,0,0,.1);
}

.Carrito_container .tex_s samp{
    color: #0100FE;
}

.Carrito_producto{
    display: flex;
    background-color: #eaeded7d;
    border-radius: 10px;
    padding: 10px;
    width: auto;
    height: 350px;
    margin: 25PX;
    width: 100%;
}

.img_container{
    max-width: 400px;
}

.imagenpepa {
    height: 300px;
    width: 300px;
}

.img_carrito{
    width: 100%;
    border-radius: 5%;
}

.tex_container{
    padding: 20PX;
}

.tex_container .tex_p{
    color: black;
}

.tex_container h2 samp{
    color: #0100FE;
    padding-left: 50rem;
}

.tex_container .tex_d{
    padding-top: 10px;
    color: green;
}

.tex_container .tex_c{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #0071A0;
}

.tex_container button{
    outline: none; 
    border:none;
    text-decoration: none;
    color: #0071A0;
}
.tex_container .eliminar{
    padding-left: 10px;
}

.tex_container .similares{
    padding-top: 5px;
}

.total {
    display: flex;
    margin: 25PX;
}

.total2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: solid 1px #d2d2d7
    
}
.ubicacion {
    width: 50%;
}
.espaciadototal {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.izquierda {
    width: 160px;
}
.derecha {
    width: 150px;
}

.totalpagar {
    display: flex;
    justify-content: space-around;
    border-top: solid 1px #d2d2d7
}

.formulariodatos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.botonenviar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulariodatos h1 {
    margin: auto;
    font-size: 3rem;
}
.datosenvio {
    display: flex;
    justify-content: space-between;
}

.datos {
    margin-top: 20px;
    display: flex;
    width: 49%;
    flex-direction: column;
  
  

}


.datos div p {
    margin-top: 10px;
}

.datos div p {
   font-size: 1.3rem;
}

.direccion div p {
    margin-top: 10px;
    font-size: 1.5rem;
}

.form-control {
    font-size: 1.5rem;
}