.contenidocomprar{

    background-color: white;
    width: 100%;
}

.ProductosEstructura {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.ProductosEstructura .ImagenComprar{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   background-color: rgba(0,0,0,.04);
    justify-content: center;
    margin: auto;
   border-radius: 10px;
    
   
 }

 .Contenido-productocomprar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

 }
 .Contenido-productocomprar h3 {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;

 }
 .disenografico{
    color: brown;
    font-weight: 700;
    font-size: 150%;

 }
 .ingresodatos{
    color: rgb(63, 63, 63);
    font-weight: 700;
    font-size: 200%;
    text-align: center;

 }
 .datosproduc{
    color: rgb(63, 63, 63);
    font-weight: 700;
    font-size: 150%;
 }

 .inputtex{
    font-size: 150%;
    margin-top: 1%;
 }
 .transportepro{
    color: brown;
    font-weight: 700;
    font-size: 150%;
 }
 .nombreproducto{
    font-weight: 700;
    color: rgb(63, 63, 63);
 
 }
 .descripcionproduct{
    color: rgb(78, 78, 78);
    font-weight:500;
    line-height:150%;
 }
.preciototalreal{
    color: rgb(247, 18, 18);
}
.posicionprecio{
    margin-top: -5.1%;
    margin-left: 35%;
}
 .preciopp{
    color: brown;
 }
 .textprecio{
    margin-left: 1%;
    color: rgb(58, 58, 58);
    font-size: 80%;
    margin-top: 0.7%;
 }
  
.ImagenComprar .imagenslider {
    width: 100%;
    height: 200px;
    margin: auto;
 }
 #carouselExampleControls {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.tituloproductocomprarocultar {
    width: 100%;
   
  
 }
 .ProductosEstructura .ImagenComprar{
    width: 100%;
 
    
   
 }
 
.ocultar {
    display: none;
}
.formproductocomprar {
    display: flex;
}
.encabezadocomprar h1 {
   
   text-align: center;
}
.encabezadocomprar span {
   
    font-size: 1.9rem;
 }

 @media (min-width:800px) {

    .Contenido-productocomprar h3 {
        display: flex;
        justify-content: start;
        font-size: 3rem;
    
     }
    
    .ProductosEstructura .ImagenComprar{
        width: 50%;
     
        
       
     }
    .ProductosEstructura {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        justify-content: center;
        align-items: flex-start;
       
    }
    

    .Contenido-productocomprar {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;      
    
     }
     .ImagenComprar .imagenslider {
        margin: auto;
        width: 100%;
        height: 300px;
        
     }
     #carouselExampleControls {
        height: 320px;
        position: relative;
        width: 80%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tituloproductocomprarocultar {
        display: none;
    }
    .precioproductocomprarocultar {
        display: none;
    }
    #precioproductocomprarocultar {
        display: none;
    }
    .Informacionproductocomprarocultar {
        display: none;
    }
    .ocultar {
        display: block;
        width: 50%;
        margin-left: 35px;
    }
    
    .ocultar h3 {
       text-align: justify;
    }
    .ocultar h4 {
        text-align: justify;
    }
   
    .encabezadocomprar h1 {
     
        margin: auto;
        text-align: center;
    }
    .encabezadocomprar span {
   
        font-size: 2.5rem;
     }
     .botoncitocompraaar button {
        font-size: 1.5rem;
        width: 100%;
     }
} 