/*global*/
* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;

}
/*Cosa Fija a utilizar*/
:root{
    /*Colores Primario*/
    --azul:#034aa6;
    --rojo:#ee0510;
    --blanco:rgba(255, 255, 255, 0.953);
    --menu: rgb(16, 6, 65);
    /*Colores Secundario*/
    --sub_rojo: #e23d3d;
    --sub_gris: #ffffff0a;
    --sub_gris2:#3a3a3a;
    --sub-celeste: #abcde6;



    /*margin: 0%;
    width: 100%;*/
}

/*Ajuste de palabras*/
html {
    font-size:62.5% ; 
 }
/*Definimos lo basico de html*/
body{
    padding: 0%;
    margin: 0%;
    width: 100%;
}

header{
    width: 100%;
    height: auto;
    position: sticky;
    top: 0%;
    z-index: 10;
    font-weight: normal;
    font-size: 2rem;
}

/*Encabezado*/
.Encabezado{ 
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    background-color: var(--azul);
    font-weight: 600;
    font-size: x-large; 
    height: 70px;
    
}

/*Logo*/
.contenedorlogo{
    visibility: visible;
    margin-left: 4px;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: var(--blanco);
    font-size: 2rem;
}

.contenedorlogo img {
        width: 75px;
        height: 65px;
        font-weight: normal;
        font-size: 1.8rem;
}

/*Navegacion*/
.contenedornavegacion a{
    text-decoration: none;
    color: var(--blanco);
    margin-left:  20px;
    font-size: 2rem
}

.contenedornavegacion a:hover{
    color: var(--blanco);
    border-bottom: 5px solid var(--rojo);
}

/*Botones*/
.conetenedorbotones{
    z-index: 3;
    margin-right:  20px;
    display: flex;
    flex-direction: row;
}

.conetenedorbotones div{
    margin-right: 5px;
}

.conetenedorbotones img{
    width: 30px;
}

.conetenedorbotones a{
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    color: var(--blanco);
}
.conetenedorbotones .default-btn {
    text-decoration: none;
    width: auto;
	border: none;
	position: relative;
	display: flex;
	text-align: center;
	overflow: hidden;
	z-index: 1;
	color: var(--sub_gris2);
	background-color: var(--blanco);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 30px;
	font-weight: 600;
	font-size: 15px;
	padding-left: 12px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 12px;
    font-weight: 600;
}
/*Transiciones del boton*/
.conetenedorbotones .default-btn span {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-radius: 50%;
	background-color: var(--sub-celeste);
	-webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
	transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
	border-radius: 30px;
}
/*Cambio de Color de boton*/
.default-btn:hover span, .default-btn:focus span {
	width: 225%;
	height: 562.5px;
}
/*Cambio de Color de letra de boton*/
.default-btn:hover, .default-btn:focus {
	color: var(--blanco);
}

/*Menu Lateral*/
.MenuLateral{
    z-index: 5;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    transform: translateX(-800px);
    width: 50%;
    height: 100vh;
    background-color: var(--menu);
    transition: 300ms;
}

.icono-cerra-menu{
    color: var(--blanco);
    font-size:x-large;
    text-align: end;
    margin-right: 5px;
    
}

.Contenido-Menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    background-color: var(--menu);
}

.Menu-Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 1000;
    color: var(--blanco);
    
}

.Menu-Logo img{
    width: 75px;
    height: 70px;
}

.Menu-Navegación{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;

    justify-content: first baseline;
}

.Menu-Navegación a{
    font-weight: 900;
    width: 100%;
    height: 7%;
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
    background-color: var(--sub_gris);
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 40px;

}


/*Funcionamiento de menu*/
#btn-menulateral:checked ~ .MenuLateral{
    transform: translateX(0px);
    transition: 300ms;
}

#btn-menulateral:checked ~ .contenedorlogo{
    visibility: hidden;
    color: var(--rojo);
}

/*Función de cerrar sesion*/
.control-cerrar-sesion{
    display: none;
}

/*Contro menu*/
.control-icono-menu{
    display: none;
}

/*Apariencia de menu al movimiento*/
header.abajo .Encabezado{
    background-color: #0367A6;
}

header.abajo .Encabezado .contenedornavegacion a:hover{
    color: var(--sub_rojo);
    border-bottom: 5px solid var(--azul);
}
::-webkit-scrollbar {
    display: none;
    }

/*Responsive*/
@media (max-width:1030px){
    .Encabezado{
        justify-content: space-between;
    }
    .MenuLateral{
        visibility: visible;
    }
    .contenedornavegacion{
        display: none;
    }
    .conetenedorbotones{
        position: relative;
        top: auto;
    }
    .conetenedorbotones div{
        margin: 4px;
    }
    .control-cerrar-sesion{
        position: relative;
        bottom: 27px;
        display: flex;
    }
    .control-icono-menu{
        display: flex;
        position: relative;
        top: 3px;
       
    }
}

@media (max-width:731px){
    .MenuLateral{width: 40%;}
}


@media (max-width:524px){
    .contenedorlogo{
        font-size: small;

    }
    .MenuLateral{width: 50%;}
}

