


.numerorden {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
}

.datos {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    flex-direction: column;
}

.datosorden{
    display: flex;
    width: 100%;
    height: 30px;
    margin: auto;
}

.datosclientes {
    display: flex;
    align-items: center;
    height: 60px;
}
.datosclientes p {
   margin-top: revert;
   font-size: 17px;
}
.datosclientes h5 {
    margin-top: revert;
    margin-bottom: revert;
 }

.alineado {
    text-align: center;
}