main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*Cosa globales*/
h2{
    font-weight: 800;
}

/*Primer div*/
.contenedorinformacion1{

    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorinformacion1 hr{
    height: 4px;
    width: 60%;
    background-color: black;
    color: black;
}

/*Segundo Div*/
.contenedorinformacion2{
    background-color: rgba(0, 0, 0, 0.075);
    margin: 5%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    height: auto;
}

.contenido1{
    padding-top: 8%;
    width: 50%;
    text-align: center;
}

.cont-imagen1{
    width: 50%;
}

.cont-imagen1 img{
    width: 100%;
}

.contenido1 p{
    margin-left: 4%;
    margin-right: 4%;
    text-align: justify;
    font-size:larger;
    font-weight: 400;
}

/*Tercer Div*/
.contenedorinformacion3{
    background-color: rgba(0, 0, 0, 0.075);
    margin: 5%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    height: auto;
}

.contenido2{

    padding: 25px;
    width: 50%;
}

.contenido2 h2{
    text-align: center;
}

.contenido2 span{
    font-weight: 900;
    font-size: larger;
}

.contenido2 p{
    text-align: justify;
    font-weight:500;
    font-size: larger;
}


.contenido2 p span img{
    width: 25px;
    
}

.cont-imagen2{
    width: 50%;
}

.cont-imagen2 img{
    width: 100%;
    height: 100%;}

/*Cuarto Div*/
.contenedorinformacion4{

    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedorinformacion4 hr{
    height: 4px;
    width: 60%;
    background-color: black;
    color: black;
}

/*Quinto Div*/
.contenedorinformacion5{
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedor-productos-servicios{
    width: 20%;
    margin: 1%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.075);
}

.contenedor-Imagen-Producto{
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    height: 300px;
}

.contenedor-Imagen-Producto img{
    
    width: 100%;
    height: 100%;
}

.contenido3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    height: 110px;
}

.contenido3 h3{
    font-weight: 800;
}

.contenido3 .default-btn {
    width: auto;
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--azul);
    border-radius: 30px;
    font-weight: 600;
    font-size: 15px;
    padding-left: 12px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 12px;
}

.espaciado{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    position: relative;
    left:50%
}









/*Responsive*/
@media (max-width:1030px){
    /*DIV PRIMERO CON IMAGEN*/
    .contenedorinformacion2{
        flex-direction: column;
        width: auto;
    }
    .contenido1{
        width: auto;
    }
    .cont-imagen1{
        width: auto;

    }

    /*DIV SEGUNDO CON IMAGEN*/
    .contenedorinformacion3{
        flex-direction: column-reverse;
    
        width: auto;
    }
    .contenido2{
        width: auto;
    }
    .cont-imagen2{
        width: auto;

    }

    /*Cotenendor de producto*/
    .contenedorinformacion5{
        flex-direction: column;
        width: auto;
    }
    .contenedor-productos-servicios{
        width: 80%;
        margin: 5%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.075);
    }
    
    .contenedor-Imagen-Producto{
        margin-left: 10%;
        margin-top: 5%;
        width: 80%;
        height: 600px;
    }

}