footer{
    display: flex;
    
    background-color: #0367A6;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
}

.Conetenedores-Footer{
    background-color: rgb(255, 255, 255);
    margin: 2%;
    padding: 1%;
    font-weight: 800;
    border-radius: 20px;
    width: 25%;
    color: black;
}

.Conetenedores-Footer h3{
    text-align: center;
    font-weight: 600;
}

.Conetenedores-Footer p{
    font-size: 13px;
}

.contenedor-Icono-Footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    filter: saturate(300%);
}

.contenedor-Icono-Footer a{
    margin: 5%;
}


.Footer-nav a{
    color: black;
    font-size: 13px;
    
}


@media (max-width:700px){
    footer{
        flex-direction: column;
        justify-content: center;
    }
    .Conetenedores-Footer{
        width: 80%;
        margin-left: 10%;
        margin-top: 4%;
        padding: 2%;
    }

}