.margen{
    width: 90%;
    margin: auto;
    font-family: 'Cabin', sans-serif;
    background-color: rgb(248, 248, 248);
    border-radius: 0.8%;
    
}
.generalproyect{
    display: grid;
      grid-template-columns: 1fr 1fr;
}
.espaciado{
    width: 100%;
}
.tarjetas{
    margin: auto;
    background-color: rgb(248, 248, 248);
    width: 95%;
    padding: 1%;
    border-radius: 2%;
}
.imgproyecto{
    border-radius: 2%;
    width: 100%;
    height:320px;
}
.tituloproyect{
    margin-top: 3%;
    font-weight: 700;
    color:#303030;
}
.descripcionproyecto {
    width: 99%;
    margin: auto;
}

.descripcionp{
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    color:#878787;
    font-weight:500;
    font-size: 130%;
}
.titulomain{
    width: 100%;
    padding: 2%;
}
.titulomain{
   text-align: center;
}
.titulomain h1{
    font-size:xx-large;
    font-weight:bolder;
 }
.temasec{
    color: #0367A6;
    font-weight:700;
}
/* Boton  */
.verproyecto{
    margin: auto;
    border-color: #0367A6;
    width: 20%;
    padding: 1%;
}
.verproyecto h4{
    margin: auto;
    color: #0367A6;
    
}


/* banner */


.margenbanner{
    width: 90%;
    margin: auto;
}
.previmg{
    margin-top: 26%;
}
.nextimg{
    margin-left: 92%;
}

.titulogeneralhome2 h4{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 300%;
    color: #0367A6;
    font-weight: 600;
}
.descripciongeneralhome p{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color:#414040;
    margin-top: 1%;
    font-size: 180%;
    font-weight: 500;
}
hr{
    height: 4px;
    width: 60%;
    background-color: black;
    color: black;
    margin: auto;
}



/* PROYECTOS EN HOMEE  */
/* PROYECTOS EN HOMEE  */
/* PROYECTOS EN HOMEE  */
.margen2{
    width: 90%;
    margin: auto;
    font-family: 'Cabin', sans-serif;
    background-color: rgb(248, 248, 248);
    border-radius: 0.8%;
    
}
.generalproyect2{
    display: grid;
      grid-template-columns: 1fr 1fr 1fr;
}
.espaciado2{
    width: 100%;
}
.tarjetas2{
    margin: auto;
    background-color: rgb(248, 248, 248);
    width: 95%;
    padding: 1%;
    border-radius: 2%;
}
.imgproyecto2{
    border-radius: 2%;
    width: 100%;
    margin: auto;
}
.tituloproyect2{
    margin-top: 3%;
    font-weight: 700;
    color:#303030;
}
.descripcionproyecto2 {
    width: 99%;
    margin: auto;
}

.descripcionp2{
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    color:#878787;
    font-weight:500;
    font-size: 130%;
}
.titulomain2{
    width: 100%;
    padding: 2%;
}
.titulomain2{
   text-align: center;
}
.titulomain2 h1{
    font-size:xx-large;
    font-weight:bolder;
 }
.temasec2{
    color: #0367A6;
    font-weight:700;
}
/* Boton  */
.verproyecto2{
    margin: auto;
    border-color: #0367A6;
    width: 20%;
    padding: 1%;
}
.verproyecto2 h4{
    margin: auto;
    color: #0367A6;
    
}


/* PROductos EN HOMEE  */
/* PRODUCTOS EN HOMEE  */
/* PRODUCTOS EN HOMEE  */



.margen3{
    width: 90%;
    margin: auto;
    font-family: 'Cabin', sans-serif;
    background-color: rgb(248, 248, 248);
    border-radius: 0.8%;
    
}
.generalproyect3{
    display: grid;
      grid-template-columns: 1fr 1fr 1fr;
}
.espaciado3{
    width: 100%;
}
.tarjetas3{
    margin: auto;
    background-color: rgb(248, 248, 248);
    width: 95%;
    padding: 1%;
    border-radius: 2%;
}
.imgproyecto3{
    border-radius: 2%;
    width: 100%;
    margin: auto;
}
.tituloproyect3{
    margin-top: 3%;
    font-weight: 700;
    color:#303030;
}
.descripcionproyecto3 {
    width: 99%;
    margin: auto;
}

.descripcionp3{
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    color:#878787;
    font-weight:500;
    font-size: 130%;
}
.titulomain3{
    width: 100%;
    padding: 2%;
}
.titulomain3{
   text-align: center;
}
.titulomain3 h1{
    font-size:xx-large;
    font-weight:bolder;
 }
.temasec3{
    color: #0367A6;
    font-weight:700;
}
/* Boton  */
.verproyecto3{
    margin: auto;
    border-color: #0367A6;
    width: 30%;
    padding: 1%;
}
.verproyecto3 h4{
    margin: auto;
    color: #0367A6;
    
}
.quienesomos{
    
    width: 90%;
    margin: auto;
    font-family: 'Cabin', sans-serif;
    background-color: rgb(248, 248, 248);
    border-radius: 0.8%;
}
.contenimosqs{
    padding: 5%;
}
.contenimosqs h2{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 300%;
    color: #0367A6;
    font-weight: 600;
}

.contenimosqs p{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color:#414040;
    margin-top: 1%;
    font-size: 180%;
    font-weight: 500;
} 

