
.contenidocomprar{

    background-color: rgb(248, 248, 248);
    width: 90%;
    margin: auto;
}

.ProductosEstructura {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(129, 129, 129);
    justify-content: center;
    align-items: center;
}

.ProductosEstructura .ImagenComprar{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   background-color: rgba(0,0,0,.04);
    justify-content: center;
    margin: auto;
   border-radius: 10px;
    
   
 }
 .descripcionpro h4{
    font-family: 'Lato', sans-serif;
    color:#5c5c5c;
    font-weight:500;
    line-height:150%;
 }
 .tituloproductocomprar h3{
    padding: 2%;
    font-weight:700;
    color: #424242;
    font-family: 'Lato', sans-serif;
    font-size: 350%;
 }

 .Contenido-productocomprar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

 }
 .preciototalreal{
    color: rgb(236, 31, 31);
 }


  
.ImagenComprar .imagenslider {
    width: 100%;
    height: 200px;
    margin: auto;
 }
 #carouselExampleControls {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.tituloproductocomprarocultar {
    width: 100%;
   
  
 }
 .ProductosEstructura .ImagenComprar{
    width: 100%;
 
    
   
 }

 



 @media (min-width:800px) {

    
    .ProductosEstructura .ImagenComprar{
        width: 50%;
     
        
       
     }
    .ProductosEstructura {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgb(255, 254, 254);
        justify-content: center;
        align-items: flex-start;
       
    }
    

    .Contenido-productocomprar {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
     
       
    
     }
     
   

     .ImagenComprar .imagenslider {
        margin: auto;
        width: 100%;
        height: 300px;
        
     }
     #carouselExampleControls {
        height: 320px;
        position: relative;
        width: 80%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tituloproductocomprarocultar {
        display: none;
    }
    .precioproductocomprarocultar {
        display: none;
    }
    #precioproductocomprarocultar {
        display: none;
    }
    .Informacionproductocomprarocultar {
        display: none;
    }
    .ocultar {
        display: block;
        width: 50%;
        margin-left: 35px;
    }
    
    .ocultar h3 {
       text-align: justify;
    }
    .ocultar h4 {
        text-align: justify;

    }
   
    .encabezadocomprar h1 {
     
        margin: auto;
        text-align: center;
    }
    .encabezadocomprar span {
   
        font-size: 2.5rem;
     }
     .botoncitocompraaar button {
        font-size: 1.5rem;
        width: 100%;
     }
} 